name: Build Shuzygram
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Debug APK
        run: ./gradlew clean assembleDebug -Pno_keystore=true --stacktrace
        env:
          _JAVA_OPTIONS: "-Xmx4g -XX:MaxMetaspaceSize=1g"

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Shuzygram-Debug
          path: TMessagesProj/build/outputs/apk/debug/*.apk
          
