name: Build Shuzygram
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Create local.properties
        run: echo "sdk.dir=$ANDROID_HOME" > local.properties

      - name: Build with Gradle
        run: ./gradlew assembleDebug -Pno_keystore=true --stacktrace -Dorg.gradle.jvmargs="-Xmx4g -XX:MaxMetaspaceSize=1g"
        # Мы добавили -Pno_keystore и увеличили лимит памяти до 4ГБ

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Shuzygram-Debug
          path: TMessagesProj/build/outputs/apk/debug/*.apk
          
